<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PalermosPizza.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/favicon.png" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index"><img id="logo" src="~/logo.png" /></a>
                        </li>
                        <li class="nav-item">
                            <input style="width: 400pt;" type="search" placeholder="Keresés..." />
                        </li>
                        <li class="nav-item">
                            <a class="signButton" asp-controller="Home" asp-action="SignIn"><img id="emoji" src="~/signInDoor.png"> Bejelentkezés</a>
                            <a class="signButton" asp-controller="Home" asp-action="SignUp"><img id="emoji" src="~/signUpUser.png"> Regisztráció</a>
                        </li>
                        <li class="nav-item">
                            <a class="signButton" asp-controller="Home" asp-action="Cart"><img id="emoji" src="~/cart.png">Kosár</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <table id="categoriesTable">
            <tr>
                <td id="categoriesTableColumn"><img class="categoryIcon" src="~/category_icons/pizza.png" /> Pizzák</td>
                <td id="categoriesTableColumn"><img class="categoryIcon" src="~/category_icons/pasta.png" /> Tészták</td>
                <td id="categoriesTableColumn"><img class="categoryIcon" src="~/category_icons/soup.png" /> Levesek</td>
                <td id="categoriesTableColumn"><img class="categoryIcon" src="~/category_icons/dessert.png" /> Desszertek</td>
                <td id="categoriesTableColumn"><img class="categoryIcon" src="~/category_icons/drink.png" /> Italok</td>
                <td id="categoriesTableColumn"><img class="categoryIcon" src="~/category_icons/salad.png" /> Saláták</td>
                <td id="categoriesTableColumn"><img class="categoryIcon" src="~/category_icons/side.png" /> Köretek</td>
                <td id="categoriesTableColumn"><img class="categoryIcon" src="~/category_icons/sauce.png" /> Szószok</td>
            </tr>
        </table>
        <hr id="underTable">
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer border-top text-muted">
        <div class="container text-center">
            &copy; 2025 - Palermo's Pizza | Nagy Levente -
            <a asp-area="" asp-controller="Home" asp-action="Contacts">Elérhetőségek</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
