@{
    ViewData["Title"] = "Elérhetőségek";
}

<div id="contactDiv">
    <p>💻 <b>Készítette:</b> Nagy Levente</p>
    <p>✉ <b>Email:</b> nagylevente.504@gmail.com</p>
    <p>📱 <b>Telefonszám:</b> +36 30 467 0897</p>
</div>

<div id="mapDiv">
    <p style="font-size: 20pt;">Hol találsz meg minket?</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3208.2889837478274!2d19.929925376729926!3d47.77876957607208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47405a0408bedf19%3A0x467bb1b7a06c8d04!2sGy%C3%B6ngy%C3%B6s%2C%20Mikes%20Kelemen%20u.%2046%2C%203200!5e1!3m2!1shu!2shu!4v1751883459871!5m2!1shu!2shu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p>3200 Gyöngyös, Mikes Kelemen utca 46.</p>
</div>

