@{
    ViewData["Title"] = "Bejelentkezés";
}
<div class="innerBackground">
    <h2>Bejelentkezés</h2>
    <hr>
    <table id="signInTable">
        <tr>
            <td class="signInTableTd">Email cím <input type="email"></td>
        </tr>
        <tr>
            <td class="signInTableTd">Jelszó <input type="password"></td>
        </tr>
    </table>
    <a href="/Home/SignUp">Még nincs fiókod?</a><br />
<input type="submit" value="Belépés!" />
</div>
