html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url(../wp.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1100pt;
    margin: auto;
    overflow-x: hidden;
}

.footer {
    max-width: 1100pt;
}

#logo{
    width: 180pt;
    text-align: center;
    margin-bottom: 5pt;
    margin-top: 5pt;
}

.nav-item {
    margin: auto;
}

.container, .footer {
    color: lightgray;
    text-align: center;
}

nav {
    background-image: url(../wp.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}

a {
    color: green;
}

a:active, a:hover {
    color: red;
}

#contactDiv {
    text-align: left;
    margin-top: 100pt;
    font-size: 15pt;
    line-height: 30pt;
}

#mapDiv {
    width: 500pt;
    float: right;
    margin-top: -150pt;
}

.signButton {
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium';
    border: none;
    padding: 15pt;
    margin-right: 0pt;
}

#emoji{
    width: 15pt;
    margin-right: 3pt;
}

hr
{
    border: black solid 2pt;
    max-width: 400pt;
    margin: auto;
    margin-top: 20pt;
    margin-bottom: 30pt;
}

.innerBackground {
    padding: 20pt;
    background-color: white;
    color: black;
    max-height: stretch;
    text-align: center;
}

#registerTable, #signInTable {
    margin: auto;
    max-width: 1000pt;
    border: 1pt solid grey;
    background-color: lightgray;
}

.registerTableTd {
    max-width: 500pt;
    padding: 15pt;
    text-align: left;
}

.signInTableTd {
    max-width: 500pt;
    padding: 20pt;
    text-align: center;
}

input[type="submit"]
{
    margin-top: 20pt;
    margin-bottom: 10pt;
    background-color: green;
    color: white;
    border: red solid 1pt;
    border-radius: 2pt;
}